fastapi
uvicorn[standard]
python-dotenv
python-multipart
pillow
numpy>=1.26,<2
setuptools<82
torch
torchvision
torchaudio
einops
triton
pycocotools
psutil
transformers>=4.56.0
huggingface_hub
google-cloud-storage
opencv-python<4.10